*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(180, 217, 235);
    margin: 0;
    
}

.naslov{
    padding-left: 1rem;
    margin-top: -1rem;
    color: rgb(43, 84, 128);
}

.navbar{
    display: flex;
    padding-right: 1rem;

    background-color: rgb(43, 84, 128);
}

.zavrsni{
    margin-left: auto;
    color: white;
}

.navpolje{
    text-align: center;
    width: 6rem;
    color: white;
    border-right: 2px solid white
}

.trenutna{
    background-color: rgb(130, 183, 208);
    color: rgb(0, 0, 0);
}


.sadrzaj{
    margin-top: 2rem;
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 60vw;
    margin-left: 20vw;
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.tekst{
    background-color: rgb(43, 84, 128);
    height: 25%;
    overflow-y: scroll;
    color: white;
    padding-left: 2px;
    
}

.tekst p{
    margin-top: 1px;
}

.slika{
    background-color: rgb(0, 0, 0);
    height: 65%;
}

.slike{
    background-color: rgb(255, 255, 255);
    height: 10%;
    display: flex;
    align-content: space-between;
    gap: 2px;
}

.slicica{
    background-color: black;
    width: 10%;
    border: 2px solid white
}

.slika1{
    background-image: url(slika1.png);
}
.slika2{
    background-image: url(slika2.png);
}
.slika3{
    background-image: url(slika3.png);   
}
.slika4{
    background-image: url(slika4.png);
}
.slika5{
    background-image: url(slika5.png);
}
.slika6{
    background-image: url(slika6.png);
}
.slika7{
    background-image: url(slika7.png);
}
.slika8{
    background-image: url(slika8.png);
}
.slika9{
    background-image: url(slika9.png);
}
.slika10{
    background-image: url(slika10.png);   
}